In [1]:
import pandas as pd

In [3]:
data_haberman = pd.read_excel("Data\Habermans Survival Data Set.xlsx", sheet_name="Sheet1")

In [4]:
data_haberman.head()

,Age of patient,Year of operation,Number of detected nodes,Survival Status
0,30,64,1,1
1,30,62,3,1
2,30,65,0,1
3,31,59,2,1
4,31,65,4,1

In [5]:
data_haberman.shape

(306, 4)

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
train_df, test_df =  train_test_split(data_haberman, test_size=0.2, random_state=99)

In [22]:
data_haberman.describe()

,Age of patient,Year of operation,Number of detected nodes,Survival Status
count,306.000000,306.000000,306.000000,306.000000
mean,52.457516,62.852941,4.026144,1.264706
std,10.803452,3.249405,7.189654,0.441899
min,30.000000,58.000000,0.000000,1.000000
25%,44.000000,60.000000,0.000000,1.000000
50%,52.000000,63.000000,1.000000,1.000000
75%,60.750000,65.750000,4.000000,2.000000
max,83.000000,69.000000,52.000000,2.000000

In [25]:
# data loaded into X and y
y = data_haberman["Survival Status"]
X = data_haberman[["Age of patient ", "Year of operation", "Number of detected nodes"]]

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score



# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create and train Logistic Regression model
log_reg_model = LogisticRegression()
log_reg_model.fit(X_train, y_train)
log_reg_pred = log_reg_model.predict(X_test)
log_reg_accuracy = accuracy_score(y_test, log_reg_pred)

# Create and train Decision Tree model
tree_model = DecisionTreeClassifier()
tree_model.fit(X_train, y_train)
tree_pred = tree_model.predict(X_test)
tree_accuracy = accuracy_score(y_test, tree_pred)

# Create and train Random Forest model
rf_model = RandomForestClassifier()
rf_model.fit(X_train, y_train)
rf_pred = rf_model.predict(X_test)
rf_accuracy = accuracy_score(y_test, rf_pred)

# Print accuracy of each model
print("Logistic Regression Accuracy:", log_reg_accuracy)
print("Decision Tree Accuracy:", tree_accuracy)
print("Random Forest Accuracy:", rf_accuracy)

Logistic Regression Accuracy: 0.6935483870967742
Decision Tree Accuracy: 0.6612903225806451
Random Forest Accuracy: 0.6935483870967742

In [29]:
pd.crosstab(log_reg_pred, y_test)

Survival Status   1   2
row_0
1                40  15
2                 4   3